<div id="produtos" class="produtos" >
<div  class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Produtos</li>
          </ol>

          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5">26 New Messages!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">  
                    <i class="fas fa-fw fa-list"></i>
                  </div>
                  <div class="mr-5">11 New Tasks!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                  </div>
                  <div class="mr-5">123 New Orders!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-life-ring"></i>
                  </div>
                  <div class="mr-5">13 New Tickets!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
         
          <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Cadastro de Novos Produtos</div>
            <div class="card-body">
            
            
            
            <form method="get" action="/lobby">
            <div id="msg-erro" class="msg-erro"></div>
            <div class="form-row ">
              <div class="col">
              <label for="inputEmail4">Nome</label>
              </div>
              <div class="col">
              <label for="inputEmail4">Categoria</label>
              </div>
              <div class="col">
              <label for="inputEmail4">Preço de Compra</label>
              </div>
              <div class="col">
              <label for="inputEmail4">Preço de Venda</label>
              </div>
              <div class="col">
              <label for="inputEmail4">Unidades</label>
              </div>
            </div>
              <div class="form-row form-group">
                <div class="col">
                  <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome">
                </div>
                <div class="col">
                  <input type="text" id="categoria"  name="categoria"  class="form-control" placeholder="Categoria">
                </div>
                <div class="col">
                  <input type="text" id="preco_compra" name="preco_compra"  class="form-control" placeholder="Preço de compra">
                </div>
                <div class="col">
                  <input type="text" id="preco_venda" name="preco_venda"  class="form-control" placeholder="Preço de venda">
                </div>
                <div class="col">
                  <input type="text" id="unidades" name="unidades"  class="form-control" placeholder="Unidades">
                </div>
               
              </div>
              <button type="submit" id="btn_produtos_cadastrar" class="btn btn-primary">Cadastrar</button>
              </div>
            </form>
          

            
      
            
            </div>
            
          </div>



          
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Produtos</div>
            <div class="card-body">
              <div class="table-responsive">
              <div id="msg-erro-produto" class="msg-erro-produto"></div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                    <th>Id</th>
                      <th>Nome</th>
                      <th>Categoria</th>
                      <th>Preço de compra</th>
                      <th>Preço de venda</th>
                      <th>Unidades</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                 <tfoot>
                    <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Preço de compra</th>
                    <th>Preço de venda</th>
                    <th>Unidades</th>
                    <th>Ações</th>
                    </tr>
                  </tfoot>
                  <tbody id="arrayprodutos"  id="arrayprodutos">
                 
                    <%for(var i=0; i<produtos.length; i++){%>
                  
                  <tr>
                  <td><%=produtos[i].id_produto%></td>    
                  <td><%=produtos[i].nome%></td>
                  <td><%=produtos[i].categoria%></td>
                  <td><%=produtos[i].preco_compra%></td>
                  <td><%=produtos[i].preco_venda%></td>
                  <td><%=produtos[i].unidade_produto%></td>
                 <td align="center"><i  class="btn btn-primary update fa fa-wrench" data-id="<%=produtos[i].id_produto%>"></i>&nbsp;<i  class="btn btn-danger delete fa fa-trash" data-id="<%=produtos[i].id_produto%>"></i></td>
                 
                  </tr>
                 
                  
                  <%}%>
                   
                  </tbody>
                </table>
              </div>
            </div>
            
          </div>
        </div>
          <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
    $( "#btn_produtos_cadastrar" ).click(function( event ) {
        event.preventDefault();
       
      });
    $(document).ready(function()
    {
      
      $('#btn_produtos_cadastrar').click(function()
      {
        var mensagem = document.querySelector('#msg-erro');
        mensagem.innerHTML='';
        
        console.log(nome);
        debugger;
        $.ajax({
          url:'produtos/create',
          method: 'post',
          // dataType: 'json',
          contentType: 'application/x-www-form-urlencoded',
          data: {nome: document.querySelector('#nome').value, categoria:document.querySelector('#categoria').value, preco_compra:document.querySelector('#preco_compra').value, preco_venda:document.querySelector('#preco_venda').value, unidade_produto:document.querySelector('#unidades').value},
          success : function( result )
          {
            debugger;
            console.log(result);
            
            var $arrayprodutos=  document.getElementById("arrayprodutos");
            $($arrayprodutos).append('<tr> <td>'+result.insertId+'</td> <td>'+document.querySelector('#nome').value+'</td> <td>'+document.querySelector('#categoria').value+'</td> <td>'+document.querySelector('#preco_compra').value+'</td> <td>'+document.querySelector('#preco_venda').value+'</td> <td>'+document.querySelector('#unidades').value+'</td> </tr>');
        console.log($arrayprodutos);
        var $msg_erro = document.getElementById('msg-erro');
        $($msg_erro).append('<div class="alert alert-success">Produto Cadastrado Com sucesso !</div>');
            document.getElementById('nome').value=''; 
            document.getElementById('categoria').value=''; 
            document.getElementById('preco_compra').value=''; 
            document.getElementById('preco_venda').value=''; 
            document.getElementById('unidades').value=''; 

            debugger;
          },

          error: function(ex){
            var $msg_erro = document.getElementById('msg-erro');
            $($msg_erro).append('<div class="alert alert-danger">'+ex.responseText+'</div>');
            console.log(ex.responseText);
            debugger;
          }
      })
      });
      $('.delete').click(function(element){
        debugger;
        $.ajax({
          url:'produtos',
          method:'delete',
          contentType: 'application/x-www-form-urlencoded',
          data:{id:element.target.dataset.id},
          success : function(result)
          {
            debugger;
            var $delete = element.delegateTarget.parentElement.parentElement;
            $( $delete).remove();
            var $msg_erro2 = document.getElementById('msg-erro-produto');
        $($msg_erro2).append('<div class="alert alert-success">Produto Removido Com sucesso!</div>');

        setTimeout(function(){ 
                $('.alert').remove();   
            }, 900);
            



          }
        });

      });
      $('.update').click(function(element)
      {
        console.log(element.delegateTarget.parentElement.parentElement);
        var input = document.createElement('input');
        input.type='text';
        input.setAttribute('value', '');
        var pai = element.target.parentElement;
        var id = element.target.dataset.id;
        pai.innerHTML='';
        pai.appendChild(input);
        debugger;
      });



      

    });
  </script>
        </div>
       